[Unit]
Description=Signaling server
After=syslog.target

[Service]
User=ubuntu
ExecStart=/usr/bin/java -jar /home/ubuntu/signaling-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target