body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

canvas {
  height: 100%;
  position: fixed;
  outline: none;
  width: 100%;
}

#menu {
  height: 100%;
  width: 100%;
  position: fixed;
  .menu-content {
    margin: 0 auto;
    width: fit-content;
  }
  button {
    letter-spacing: 2.5px;
    font-weight: 500;
  }
}

$green: #39dbc2;
$pink: #f41fbf;

.title-text {
  $stroke-width: 110px * 0.05;
  position: relative;
  display: inline-block;
  font-size: 100px;
  font-weight: 800;
  text-transform: uppercase;
  font-style: italic;
  color: $green;
  -webkit-text-stroke-width: $stroke-width;
  -webkit-text-stroke-color: $green;
  white-space: nowrap;
  $x: 0px;
  $y: 3px;
  $step: 1px;
  text-shadow:
  $x + $step $y + $step $pink,
  $x + $step * 2 $y + $step * 2 $pink,
  $x + $step * 3 $y + $step * 3 $pink,
  $x + $step * 4 $y + $step * 4 $pink,
  $x + $step * 5 $y + $step * 5 $pink,
  $x + $step * 6 $y + $step * 6 $pink,
  $x + $step * 7 $y + $step * 7 $pink,
  $x + $step * 8 $y + $step * 8 $pink,
  $x + $step * 9 $y + $step * 9 $pink,
  $x + $step * 10 $y + $step * 10 $pink,
}
